<%= flash[:notice] if flash[:notice] %>

<h1 class="center">Welcome To The Todo List Application</h1>
<h4 class="grey-text center">Never again will you have enter a room and say "What did I come in here for?"</h4>